<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta property="fb:admins" content="">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta name="format-detection" content="telephone=no">
	<link rev="made" href="">
	<link rel="index" href="">
	<link rel="shortcut icon" href="">
	<link rel="icon" href="">
	<link rel="apple-touch-icon" href="">
	<link rel="canonical" href="">
	<meta property="og:url" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<title>hello world!!</title>
	<meta property="og:title" content="">
</head>
<body>

<div class="container">
    <!-- ここにループ開始　-->
    <hr>
	<p>ユーザID:<?php echo $params[0]['ID']; ?></p>
    <p>ユーザ名:<?php echo $params[0]['user_name']; ?></p>
    <p>役職:<?php echo $params[0]['job']; ?></p>
    <!-- ここにループ終了　-->
</div>

</body>
</html>
